/*-- scss:defaults --*/

$content-padding-top: 1.25rem;

$callout-color-note: #345da9;
$callout-color-tip: #345da9;
$callout-color-caution: #d73229;
$callout-color-warning: #f16a15;
$callout-color-important: #d73229;

/*-- scss:rules --*/

/* Body ----- */

// body {
//   color: $brand-black;
// }
